.codecola-degree-wrap{
    font-size:12px;
    color:#000;
}
.codecola-degree{
    width:36px;
    height:36px;
    border:2px solid #4E6087;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    position:relative;
    -moz-user-select:none;
    -webkit-user-select:none;
    display:inline-block;
    vertical-align:middle;
    background-color:#fff;
    margin-right:5px;
}
.codecola-degree-line{
    -moz-transform-origin:0 0;
    -o-transform-origin:0 0;
    -webkit-transform-origin:0 0;
    transform:rotate(0deg);
    transform-origin:0 0;
    background-color:#000000;
    height:1px;
    left:50%;
    position:absolute;
    top:50%;
    width:50%;
}
.codecola-degree-label{
    margin-left:5px;
    vertical-align:middle;
}
.codecola-degree-input{
    width:45px;
}
.codecola-degree-dot{
    position:absolute;
    width:3px;
    height:3px;
    background-color:#000;
    top:17px;
    left:17px;
}